html{
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}
.photo{
  height: 22em;
  width: 22em;
  border-radius:300px;
}

.middle{
  text-align: center;
}

a:link {
  color:gray;
}
a:visited {
  color: gray;
}
a:active {
  color: gray;
}


.underline
{
    position: relative;
}

.underline:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 1px;
  background-color: rgb(236, 162, 88);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.underline:hover:before {
  visibility: visible;
  width: 100%;
  left: 1px;
}
.under {


  height: 2px;
  left: 1px;
  background-color: rgb(236, 162, 88);
}


